* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 16px;
    }
}

header {
    position: absolute;
    float: left;
    vertical-align: middle;
    clear: both;
    height: 6.5rem;
    width: 100%;
    background-color: #FAF3FF;
}

.logo {
    position: absolute;
    float: left;
    height: 10rem;
    left: 1rem;
    top: 0.3rem;
}

.title {
    position: absolute;
    font-family: 'Covered By Your Grace';
    font-size: 7rem;
    top: 2rem;
    left: 12rem;
}

footer {
    position: absolute;
    clear: both;
    width: 100%;
    height: 5rem;
    bottom: 0%;
    left: 0%;
    background-color: #FAF3FF;
}

.copyright {
    float: left;
    font-family: 'Roboto';
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.information {
    float: right;
    font-family: 'Roboto';
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
}

.search {
    position: absolute;
    float: left;
    width: 16rem;
    top: 11rem;
    left: 7rem;
    background-color: #F8FF81;
    border-radius: 1rem;
    box-shadow: 0.37rem 0.37rem #EDD4FF;
    overflow: auto;
}

.search-header {
    font-family: 'Covered By Your Grace';
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
}

.filter-button {
    border-radius: 1rem;
    border: none;
    width: 5.8rem;
    padding: 0.1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 1.3rem;
    background-color: #C5B0D4;
    color: #1C191E;
}

form {
    margin: 2rem
}

input::-webkit-input-placeholder {
    color: #BABF66;
    font-family: Roboto;
    font-size: 1.4rem;
    padding-left: 0.5rem;
}

input {
    border-radius: 1rem;
    background-color: #FDFFD9;
    border: none;
    margin-top: 1rem; /*0.9rem;*/
    margin-left: 0.8rem;
    width: 10rem;
    padding: 0.1rem;
}

label {
    margin-left: 1rem;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.4rem;
    color: #1C191E;
}

.profile {
    position: fixed;
    top: 11rem;
    right: 10rem;
}

.profile-pic {
    position: relative;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.profile-username {
    position: relative;
    margin: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Roboto';
    text-align: center;
    color: #1C191E;
    width: 10rem;
    padding: 0.3rem;
    background-color: #C5B0D4;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem #F8FF81;
}

.sign-out {
    margin: auto;
    display: block;
    border-radius: 1rem;
    border: none;
    text-align: center;
    font-size: 1.7rem;
    width: 6rem;
    font-family: 'Covered By Your Grace';
    color: #1C191E;
    background-color: #F8FF81;
}

.new-post-button {
    display: flex;
    border-radius: 50%;
    border: none;
    width: 6.5rem;
    height: 6.5rem;
    margin: 11rem auto auto;
    background-color: #F8FF81;
    box-shadow: 0.3rem 0.3rem #EDD4FF;
}

.new-post-button img {
    position: relative;
    margin: auto;
    width: 4rem;
    height: 4rem;
}

main {
    position: absolute;
    left: 31em;
    top: 11rem;
    bottom: 6rem;
    overflow: auto;
    width: calc(100% - 31rem); /*calc(100% - 31rem);*/
}

.single-post {
    position: relative;
    border-radius: 1rem;
    margin: 1rem;
    width: 60%;
    background-color: #C5B0D4;
}

.user-pic {
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    float: left;;
}

.name {
    position: absolute;
    font-family: 'Roboto';
    font-size: 1.35rem;
    top: 0.8rem;
    left: 7.1rem;
    font-weight: bold;
    color: #1C191E;
}

.time {
    display: inline;
    position: absolute;
    font-family: 'Roboto';
    top: 0.8rem;
    right: 4rem;
    font-size: 1.1rem;
    text-align: right;
    color: #FAF3FF
}

.miaow {
    position: relative;
    top: 2.8rem;
    height: auto;
    left: 7.2rem;
    font-family: 'Roboto';
    font-size: 1.3rem;
    width: 77%;
}

.hashtag {
    position: relative;
    font-family: 'Roboto';
    font-size: 1.2rem;
    color: #685873;
    left: 7.2rem;
    width: 70%;
    padding-top: 3.3rem;
    /*padding-bottom: 0.2rem;*/
}

.action-buttons {
    display: inline-block;
}

.likes {
    display: inline-block;
}

.like-amount {
    position: absolute;
    font-family: 'Roboto';
    font-size: 1.2rem;
    bottom: 12%;
    right: 7%;
}

.like-button {
    position: absolute;
    bottom: 5%;
    right: 2%;
    width: 4%;
    background-color: unset;
    border: none;
}

.like-button img {
    position: relative;
    width: 100%;
}

.edit-button {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 3%;
    background-color: unset;
    border: none;
}

.edit-button img {
    position: relative;
    width: 90%;
}

.delete-button {
    position: absolute;
    top: 30%;
    right: 2%;
    width: 3%;
    background-color: unset;
    border: none;
}

.delete-button img {
    position: relative;
    width: 90%;
}

.view-more-button {
    position: relative;
    margin-bottom: 0.5rem;
    left: 25%;
    font-size: 1.7rem;
    font-family: 'Covered By Your Grace';
    background-color: #F8FF81;
    color: #1C191E;
    text-align: center;
    border: none;
    border-radius: 1rem;
    width: 8rem;
}